spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop
    username: sa
    password: 1234
    driver-class-name: org.h2.Driver
    
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
      naming:        physical-strategy: com.mermer.app.config.CustomPhysicalNamingStrategy   
    open-in-view: false
    properties:
      hibernate:
         format_sql: true
         show-sql : true
         default_batch_fetch_size: 100
    
      
    
         
        
        
logging:
  level:
    '[org.hibernate.sql]': debug
    


       
      
     
