spring:
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password: 
    driver-class-name: org.h2.Driver
    
  jpa:
    hibernate:
      ddl-auto: create

logging:
  level:
    '[org.hibernate.sql]': debug
    '[org.hibernate.type]': trace
    


       
      
     
