spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/blog
    username: sa
    password: 1234

    driver-class-name: org.h2.Driver
    
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate.format_sql: true   
        
logging:
  level:
    '[org.hibernate.sql]': debug

    


       
      
     
